body{
	background-color: #eee;
}

/* position de la carte */
#map {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}

/* personnalisation de la popup hover */
.Mypopup .mapboxgl-popup-content {
    background-color: black;
    color : white;
    opacity : 0.7;
}
.Mypopup .mapboxgl-popup-tip {
    border-top-color: black;
    opacity: 0.7;
}